{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%} <br /><br />
<div class="container">
  <h1 class="d-flex justify-content-center">Login</h1>
  <br />
  <div class="d-flex justify-content-center">
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}

    <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name="username" required /><br /><br />
      <label>Password:</label>
      <input type="password" name="password" required /><br /><br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
{% endblock %}
